.socialmedia {
    display: flex;
    gap: 10px; /* İkonlar arasına boşluk ekler */
}

.personinfodet {
    width: 100%;
    height: auto; /* İçeriğin boyutuna göre ayarlanır */
    box-sizing: border-box;
    background-color:#F5F3FF;
}


.personimage{

    filter: grayscale(100%);
}


