.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-content:center;
    padding: 7rem 2rem 2rem 4rem;
    transition: margin-left $transitionDuration;
}


